.image {
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 5px 10px #adb5bd;
  margin-bottom: -80px;
  z-index: 100;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.infoWrapper {
  display: flex;
  gap: 20px;
}

.section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 5rem 3rem 3rem 3rem;
  gap: 20px;
  align-items: start;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
}
