.image {
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 5px 10px #adb5bd;
  /* margin-bottom: -80px; */
  z-index: 100;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  z-index: -100;
}

.infoWrapper {
  display: flex;
  gap: 20px;
}

.section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 3rem 3rem 3rem 3rem;
  gap: 20px;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
}

.title{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.title p{
  font-size: 30px;
}

.textdiv{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}