.container {
  display: flex;
  justify-content: center;
}
.nav {
  width: 30vw;
  position: fixed;
  display: block;
  align-self: center;
  top: 32px;
  display: flex;
  justify-content: space-around;
  border-radius: 26px;
  background-color: #adb5bd45;
  padding: 10px;
}

.link {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  height: 40px;
  font-weight: 600;
}

.activeLink {
  background-color: #ADB5BD;
}

.inActiveLink {
  color: #212529;
}
